{% extends "base.html" %} 
{% load static %} 

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %} 
    <div class="overlay"></div>
    <div class="container mb-2"> 
        <div class="row">
            <div class="col mt-4 shop">
                    <h2 class="font text-uppercase mb-3">Shopping Bag</h2>
                <hr>
            </div>
        </div>

        <!-- shopping bag items -->
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded"></div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-warning border-warning rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fa-solid fa-angles-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>     
{% endblock %}  