.blog-header hr{
    border-top: 2px solid #000 !important;
} 

.post-link {
    color: #E0B411 !important;
} 

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
} 

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
} 

.btn-outline-light {
    background-color: transparent !important;
}  