.blog-header hr{
    border-top: 2px solid #000 !important;
}

.post-link {
    color: #E0B411 !important;
}

.btn-like {
    color: #ff1b06;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #ff1b06;
    background: transparent;
    border: none;
}

.btn-outline-light {
    background-color: transparent !important;
} 

.border-black {
    color: #000 !important;
} 

@media (max-width: 600px) { 
    .blog-header hr {
		width: 435px !important;
	}   
} 

@media (max-width: 500px) {  
    .blog-header hr {
		width: 397px !important;
	}    
} 

@media (max-width: 450px) {  
    .blog-header hr {
		width: 340px !important;
	} 
} 

@media (max-width: 330px) { 
    .blog-container {
		margin-left: 85px;
	}

	.blog-header hr {
		width: 240px !important;
		margin-left: 90px;
	} 

	.blog-header h4 {
		margin-left: 90px;
		font-size: 22px;
		width: 240px !important;
	} 
} 