html {
    height: 100%;
}

body {
    color: #000;
    font-family: 'Livvic', sans-serif;
    height: calc(100vh - 164px);
}

.hero-container {
    background: url('/media/home-page.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90%;
    margin-top: 40px;
}

.bg-dark {
    background-color: #000 !important;
}

.logo-font {
    font-family: 'Cinzel Decorative', serif;
    position: relative;
    color: #FFFBC2 !important;
    text-shadow: 4px 2px 1px rgb(6, 6, 6), 0 0 15px rgb(255, 251, 194);
    margin-top: 40px;
    margin-left: 40px;
}


.font {
    font-family: 'Livvic', sans-serif;
    color: #000 !important;
}

.fst-normal {
    font-size: 22px;
}

/* navigation */
.nav-item a {
    color: #E0B411 !important;
    font-size: 18px;
}

.nav-item a:hover {
    color: #FFFBC2 !important;
}

.dropdown-menu a {
    color: #000 !important;
}

.dropdown-menu a:hover {
    color: #000 !important;
    text-decoration: underline;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.rounded-circle {
    border: 3px solid #E0B411 !important;
}

.profile-image {
    margin-top: 20px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.my-account,
.shopping-bag,
.search,
.blog {
    color: #E0B411;
}

.my-account:hover,
.shopping-bag:hover,
.search:hover,
.blog:hover {
    color: #FFFBC2;
}


/* buttons */
.shop-now-button {
    background: #E0B411;
    color: #000;
    margin-left: 40px;
}

.btn-warning {
    background: #E0B411;
    color: #000;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus {
    background: #FFFBC2;
    color: #000;
}

.border-warning {
    border: 1px solid #000 !important;
}

/* products */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.shop hr {
    border-top: 2px solid #000 !important;
}

hr {
    border-top: 1px solid #000 !important;
}


.medium a {
    color: #E0B411 !important;
}

/* ----- back to top link */
.btt-button {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #dbdbd9;
}

.btt-link {
    cursor: pointer;
}


/* product detail */
.was {
    text-decoration: line-through 1px;
}

/* shopping bag */
.update-link,
.remove-item {
    cursor: pointer;
}

.update-link:hover,
.remove-item:hover {
    text-decoration: underline !important;
}

.remove-item {
    margin-left: 25px;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.table-responsive {
    overflow-x: auto;
}

.responsive {
    width: 100%;
}

/* toast messages */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 4px;
}

.bg-success {
    background-color: #A6D16C !important;
}

.bg-danger {
    background-color: #c10404 !important;
}

.bg-info {
    background-color: #a19e9e !important;
}


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.arrow-success {
    border-bottom-color: #A6D16C !important;
}

.arrow-danger {
    border-bottom-color: #c10404 !important;
}

.arrow-alert {
    border-bottom-color: #a19e9e !important;
}

.bg-warning {
    background-color: #E0B411 !important;
}

.shopping-bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.btn-black {
    background-color: #000 !important;
    color: #E0B411 !important;
}

/* allauth account */
.sign-in,
.register,
.verify,
.confirm,
.sign-out,
.pasword {
    border-top: 2px solid #000 !important;
}

.link-register,
.link-login,
.link-email,
.link-reset {
    color: #E0B411 !important;
}

.home-link {
    color: #000 !important;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #000;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #000;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {    
    background-color: #FFFBC2;
}

.allauth-form-inner-content a {
    color: #E0B411;
    /* text-forgot pasword */
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content {
    height: calc(100vh - 74px);
}

.mb-4.verify-email {
    margin-top: 40px !important;
}

/* product form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #c10404;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c10404;
    border-color: #c10404;
    border-radius: 0;
}

/* footer */
.text-black {
    color: #000;
}

.text-black a {
    color: #000;
}

.footer-header {
    margin-bottom: -2px;
}

.contact {
    list-style-type: none;
    color: #000 !important;
}

.social-link-icon {
    font-size: 3vw !important;
}

/* mailchimp */
#mc_embed_signup {
    background: #fff;
    clear: both;
}

.mc-field-group {
    font-family: 'Livvic', sans-serif;
}

.refferal_badge {
    width: 120px;
    height: 30px;
    display: flex;
    padding: 2px 0px;
    justify-content: center;
    align-items: center;
}

.label {
    color: #000;
}

#mce-error-response {
    color: #c10404 !important;
}

/* -------------------------------- Media Queries */
@media (min-width: 1200px) {
    .container {
        max-width: 70%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 220px;
    }

    .logo-font {
        font-size: 4rem !important;
    }


    .list-inline {
        margin-left: -50px;
    }

    #mc_embed_signup {
        margin-right: 20px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 164px;
    }

    body {
        height: calc(100vh - 164px);
    }

    .nav-link {
        padding: 0.18rem;
    }

    .list-inline-item {
        padding: .6rem .6rem;
        margin-right: 20px !important;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
        margin-left: 40px;
    }

    .fas.fa-bars.fa-lg {
        padding: .69rem .6rem;
        margin-left: -10px;
    }

    .nav-link .fa-lg {
        font-size: 1.2rem;
    }

    .nav-link p {
        font-size: 1rem;
    }

    .navbar-collapse {
        margin-left: 40px;
    }

    .banner {
        font-size: 1.3rem;
        padding: .6rem .6rem;
    }

    .input-group {
        width: 90% !important;
    }

    .hero-container {
        height: 60% !important;
    }

    .logo-font {
        font-size: 3rem;
    }

    .shop-now-button {
        margin-bottom: -60px !important;
    }

    .shop-now-button h4 {
        font-size: 1rem;
    }

    .btn.btn-warning.border-warning.rounded-0,
    .btn.btn-warning.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-warning.border-warning.rounded-0.btn-lg,
    .btn.btn-warning.rounded-0.btn-lg {
        padding: .175rem .375rem;
        font-size: .85rem;
    }

    .btn.btn-warning.border-warning.rounded-0.btn-sm.w-25 {
        padding: .375rem .375rem;
    }

    .btn.btn-warning.border-warning.rounded-0.btn-sm.w-25 {
        padding: .375rem .375rem;
        font-size: .50rem;
    }

    .form-control.btn.btn-warning.border.border-warning.rounded-0,
    .form-control.border.border-warning.rounded-0 {
        padding: .375rem .375rem;
        font-size: .85rem;
    }

    .btn.btn-warning.rounded-0.border-warning {
        padding: .180rem .180rem;
        font-size: .80rem;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .remove-item {
        margin-left: 5px;
    }

    .responsive {
        width: 130%;
        margin-left: -50px !important;
    }

    .footer-container {
        margin-top: 50px !important;
    }

    #mc_embed_signup {
        margin-right: 20px;
    }

    .w-100.responsive {
        width: 120% !important;
        margin-left: 10px !important;
    }


    .display-4.font.text-black.error-h2,
    .error-p,
    .error-h4 {
        width: 450px;
    }
}


@media (max-width: 767px) {
    .logo-font {
        font-size: 2.5rem;
    }

    .w-100.responsive {
        width: 180% !important;
        margin-left: -25px !important;
    }

    .responsive {
        width: 140%;
        margin-left: -35px !important;
    }

    .my-0.text-uppercase.product-name,
    .my-0.small.text-muted.product-sku,
    .my-0.small.included-giftbag {
        font-size: 0.8rem;
        margin-left: -10px;
        margin-right: -15px;
    }

    .img-thumbnail {
        width: 15%;
    }


    .display-4.font.text-black.error-h2,
    .error-p,
    .error-h4 {
        width: 450px;
    }
}

@media (max-width: 600px) {
    .nav-link {
        padding: 0.19rem;
    }

    .list-inline-item {
        padding: .6rem .6rem;
        margin-right: 10px !important;
    }

    .navbar-toggler {
        padding: .5rem .5rem;
        font-size: 1rem;
        margin-left: 30px;
    }

    .fas.fa-bars.fa-lg {
        padding: .69rem .6rem;
        margin-left: -10px;
    }

    .nav-link .fa-lg {
        font-size: 1.2rem;
    }

    .nav-link p {
        font-size: 1rem;
    }

    .navbar-collapse {
        margin-left: 30px;
    }

    .banner {
        font-size: 1.2rem;
        padding: .6rem .6rem;
    }

    #mc_embed_signup {
        margin-right: 30px;
    }

    .btt-button {
        height: 30px;
        width: 30px;
    }

    .w-100.responsive {
        width: 200% !important;
        margin-left: -25px !important;
    }


    .responsive {
        width: 120%;
        margin-left: -25px !important;
    }

    .my-0.text-uppercase.product-name,
    .my-0.small.text-muted.product-sku,
    .my-0.small.included-giftbag {
        font-size: 0.8rem;
        margin-left: -10px;
        margin-right: -15px;
    }

    .profile.float-right {
        font-size: 0.9rem;
    }

    .img-thumbnail {
        width: 15%;
    }


    .display-4.font.text-black.error-h2,
    .error-p,
    .error-h4 {
        width: 450px;
    }
}

@media (max-width: 500px) {
    .navbar-toggler {
        font-size: 0.8rem;
        margin-left: 10px;
    }

    .nav-link .fa-lg {
        font-size: 1rem;
    }

    .nav-link p {
        font-size: 0.8rem;
    }

    .navbar-collapse {
        margin-left: 10px;
    }

    .nav-item a {
        font-size: 0.9rem;
    }

    .fas.fa-bars.fa-lg {
        padding: .4rem .1rem;
        margin-left: -10px;
        font-size: 26px !important;
    }

    .nav-link .fa-lg {
        font-size: 1rem;
    }

    .nav-link p {
        font-size: 0.8rem;
    }

    .navbar-collapse {
        margin-left: 10px;
    }

    .nav-item a {
        font-size: 0.9rem;
    }

    .banner {
        font-size: 1rem;
        padding: .6rem .6rem;
    }

    .hero-container {
        height: 40% !important;
        margin-top: -20px;
    }

    .logo-font {
        font-size: 1.9rem;
        margin-bottom: -20px;
    }

    .responsive {
        width: 180%;
        margin-left: -50px !important;
    }

    .update-link.text-success {
        margin-left: 5px;
    }

    .my-0.text-uppercase.product-name,
    .my-0.small.text-muted.product-sku,
    .my-0.small.included-giftbag {
        font-size: 0.7rem;
        margin-left: -10px;
        margin-right: -15px;
    }

    #mc_embed_signup {
        margin-right: 30px;
    }

    .btt-button {
        height: 30px;
        width: 30px;
        margin-right: -12px;
    }

    .footer-header.subscribe.text-black {
        font-size: 0.9rem;
    }

    .w-100.responsive {
        width: 180% !important;
        margin-left: -15px !important;
    }

    .responsive {
        width: 120%;
        margin-left: -25px !important;
    }

    .profile.float-right {
        font-size: 0.8rem;
    }

    .img-thumbnail {
        width: 15%;
    }


    .display-4.font.text-black.error-h2,
    .error-p,
    .error-h4 {
        width: 450px;
    }
}

@media (max-width: 480px) {
    .list-inline-item {
        padding: .6rem .6rem;
        margin-right: 5px !important;
    }

    .navbar-toggler {
        padding: .5rem .5rem;
        font-size: 1rem;
        margin-left: 10px;
    }

    .fas.fa-bars.fa-lg {
        padding: .69rem .6rem;
        margin-left: -10px;
    }

    .nav-link .fa-lg {
        font-size: 1.2rem;
    }

    .navbar-collapse {
        margin-left: 10px;
    }

    .banner {
        font-size: 1rem;
    }

    .hero-container {
        height: 50% !important;
    }

    .logo-font {
        font-size: 2.2rem;
    }

    .footer-header.subscribe.text-black {
        font-size: 0.9rem;
        margin-top: 20px;
    }

    .my-0.text-uppercase.product-name,
    .my-0.small.text-muted.product-sku,
    .my-0.small.included-giftbag {
        font-size: 0.7rem;
        margin-left: -10px;
        margin-left: -30px;
    }

    .btt-button {
        margin-right: -12px;
    }

    .w-100.responsive {
        width: 180% !important;
        margin-left: -15px !important;
    }

    .responsive {
        width: 120%;
        margin-left: -25px !important;
    }

    .profile.float-right {
        font-size: 0.9rem;
        margin-right: 85px;
    }

    .img-thumbnail {
        width: 15%;
    }


    .display-4.font.text-black.error-h2,
    .error-p,
    .error-h4 {
        width: 450px;
    }
}

@media (max-width: 452px) {
    .navbar-toggler {
        font-size: 0.7rem;
    }

    .nav-link .fa-lg {
        font-size: 1rem;
    }

    .nav-link p {
        font-size: 0.8rem;
    }

    .navbar-collapse {
        margin-left: 10px;
    }

    .nav-item a {
        font-size: 0.9rem;
    }

    .fa-brands.fa-square-facebook.fa-xl {
        font-size: 1.2rem;
        margin-left: 110px;
    }

    .fa-brands.fa-square-instagram.fa-xl {
        font-size: 1.2rem;
    }

    .fa-brands.fa-square-x-twitter.fa-xl {
        font-size: 1.2rem;
        margin-right: 90px;
    }

    .footer-header.subscribe.text-black {
        font-size: 0.8rem;
        text-align: center;
        margin-top: 20px;
    }

    .font.text-uppercase.mb-3.bag-header {
        font-size: 1.8rem;
        margin-top: -20px;
    }

    .text-black.t-head {
        font-size: 0.8rem;
    }

    .responsive {
        width: 100%;
        margin-left: -5px !important;
    }

    .my-0.text-uppercase.product-name,
    .my-0.small.text-muted.product-sku,
    .my-0.small.included-giftbag {
        font-size: 0.6rem;
        margin-left: -10px;
    }

    .my-0.product-price,
    .my-0.subtotal {
        font-size: 0.8rem
    }

    .update-link.text-success {
        font-size: 0.9rem;
        margin-left: 5px;
    }

    .remove-item.text-danger {
        font-size: 0.9rem;
    }

    .total,
    .delivery {
        font-size: 0.9rem;
    }

    .mt-4.grand-total {
        font-size: 1.2rem;
    }

    .mb-1.text-success.free-delivery {
        font-size: 0.8rem;
    }

    .col-12.col-lg-12.text-black.text-center.mt-4.mb-4.social-links {
        font-size: 1.2rem
    }

    .btt-button {
        margin-right: -12px;
    }

    .footer-header.subscribe.text-black {
        margin-right: 30px;
    }

    .w-100.responsive {
        width: 200% !important;
        margin-left: -10px !important;
    }

    .font.text-uppercase.mb-3.checkout-success-page {
        font-size: 1.5rem;
        margin-top: -20px;
    }

    .col-12.profile.mt-4.ml-5.mr-5.mb-2 h2 {
        font-size: 1.6rem;
    }

    .profile.float-right {
        margin-right: 55px
    }

    .small.text-uppercase.profile-order-history {
        font-size: 0.7rem;
    }

    .img-thumbnail {
        width: 20%;
    }


    .display-4.font.text-black.error-h2,
    .error-p,
    .error-h4 {
        width: 450px;
    }
}

@media (max-width: 400px) {
    .fa-brands.fa-square-facebook.fa-xl {
        font-size: 1.2rem;
        margin-left: 90px;
    }

    .fa-brands.fa-square-instagram.fa-xl {
        font-size: 1.2rem;
    }

    .fa-brands.fa-square-x-twitter.fa-xl {
        font-size: 1.2rem;
        margin-right: 70px;
    }

    .w-100.responsive {
        width: 200% !important;
        margin-left: -10px !important;
    }

    .responsive {
        width: 120%;
        margin-left: -25px !important;
    }

    .col-12.profile.mt-4.ml-5.mr-5.mb-2 h2 {
        font-size: 1.6rem;
        margin-top: -20px;
    }

    .list-group.mb-4 {
        font-size: 0.9rem;
        width: 180px;
    }

    .profile.float-right {
        font-size: 0.9rem;
        margin-right: 45px
    }

    .text-muted.profile-order-history {
        margin-left: 10px;
    }

    .small.text-uppercase.profile-order-history {
        font-size: 0.7rem;
    }

    .img-thumbnail {
        width: 20%;
    }

    .card-text {
        font-size: 0.8rem;
    }

    .display-4.font.text-black.error-h2,
    .error-p,
    .error-h4 {
        width: 350px;
    }
}

@media (max-width: 375px) {
    .navbar-toggler {
        font-size: 0.5rem;
        margin-left: 5px;
    }

    .nav-link .fa-lg {
        font-size: 1rem;
    }

    .nav-link p {
        font-size: 0.8rem;
    }

    .navbar-collapse {
        margin-left: 10px;
    }

    .nav-item a {
        font-size: 0.9rem;
    }

    .banner {
        font-size: 1rem;
        padding: .6rem .6rem;
    }

    .hero-container {
        height: 35% !important;
        margin-top: -20px;
    }

    .logo-font {
        font-size: 1.6rem;
        margin-bottom: -30px;
    }

    .shop-now-button h4 {
        font-size: 0.8rem !important;
    }

    .fa-brands.fa-square-facebook.fa-xl {
        font-size: 1.2rem;
        margin-left: 90px;
    }

    .fa-brands.fa-square-instagram.fa-xl {
        font-size: 1.2rem;
    }

    .fa-brands.fa-square-x-twitter.fa-xl {
        font-size: 1.2rem;
        margin-right: 70px;
    }

    .footer-header.subscribe.text-black {
        font-size: 0.8rem;
        text-align: center;
        margin-top: 20px;
    }

    .responsive {
        width: 110%;
        margin-left: -5px !important;
    }

    .my-0.text-uppercase.product-name,
    .my-0.small.text-muted.product-sku,
    .my-0.small.included-giftbag {
        font-size: 0.5rem;
    }

    .my-0.product-price,
    .my-0.subtotal {
        font-size: 0.6rem
    }

    .btt-button {
        margin-right: -12px;
    }

    .footer-header.subscribe.text-black {
        margin-right: 30px;
    }

    .w-100.responsive {
        width: 220% !important;
        margin-left: -10px !important;
    }

    .font.text-uppercase.mb-3.checkout-success-page {
        font-size: 1.3rem;
        margin-top: -20px;
    }

    .col-12.profile.mt-4.ml-5.mr-5.mb-2 h2 {
        font-size: 1.5rem;
        margin-top: -20px;
    }

    .text-muted.profile {
        font-size: 0.9rem;
    }

    .rounded-circle.border.responsive-profile {
        height: 100px;
    }

    .list-group.mb-4 {
        font-size: 0.8rem;
        width: 170px;
    }

    .profile.float-right {
        font-size: 0.9rem;
        margin-right: 40px
    }

    .text-muted.profile-order-history {
        margin-left: 10px;
    }

    .small.text-uppercase.profile-order-history {
        font-size: 0.7rem;
    }

    .small.text-uppercase.update-order-history {
        font-size: 0.6rem;
    }

    .small.update-order-history {
        font-size: 0.6rem;
    }

    .img-thumbnail {
        width: 20%;
    }

    .card-text {
        font-size: 0.8rem;
    }

    .display-4.font.text-black.error-h2,
    .error-p,
    .error-h4 {
        width: 350px;
    }
}

@media (max-width: 360px) {
    .navbar-toggler {
        font-size: 0.6rem;
        margin-left: 5px;
    }

    .nav-link .fa-lg {
        font-size: 1rem;
        margin-right: -10px;
    }

    .nav-link p {
        font-size: 0.8rem;
        margin-right: -10px;
    }

    .navbar-collapse {
        margin-left: 10px;
    }

    .nav-item a {
        font-size: 0.8rem;
    }

    .my-0.text-uppercase.product-name,
    .my-0.small.text-muted.product-sku,
    .my-0.small.included-giftbag {
        font-size: 0.5rem;
        margin-left: -20px;
    }

    .my-0.product-price,
    .my-0.subtotal {
        font-size: 0.8rem
    }

    .update-link.text-success {
        font-size: 0.8rem;
        margin-left: 5px;
    }

    .remove-item.text-danger {
        font-size: 0.8rem;
    }

    .total,
    .delivery {
        font-size: 0.8rem;
    }

    .mt-4.grand-total {
        font-size: 1rem;
    }

    .mb-1.text-success.free-delivery {
        font-size: 0.7rem;
    }

    .fa-brands.fa-square-facebook.fa-xl {
        font-size: 1rem;
        margin-left: 80px;
    }

    .fa-brands.fa-square-instagram.fa-xl {
        font-size: 1rem;
    }

    .fa-brands.fa-square-x-twitter.fa-xl {
        font-size: 1rem;
        margin-right: 60px;
    }

    .btt-button {
        margin-right: -12px;
    }

    .footer-header.subscribe.text-black {
        margin-right: 30px;
    }


    .w-100.responsive {
        width: 220% !important;
        margin-left: -5px !important;
    }

    .form-check-label.checkout {
        font-size: 0.8rem;
    }

    .text-muted.checkout {
        font-size: 0.8rem;
    }

    .font.text-uppercase.mb-3.checkout {
        font-size: 1.8rem;
        margin-top: -20px;
    }

    .font.text-uppercase.mb-3.checkout-success-page {
        font-size: 1.2rem;
        margin-top: -20px;
    }

    .text-black.checkout-success-page {
        font-size: 0.9rem;
    }

    .col-12.col-md-8.text-md-right.checkout-success-page {
        font-size: 0.9rem;
    }

    .col-12.profile.mt-4.ml-5.mr-5.mb-2 h2 {
        font-size: 1.5rem;
        margin-top: -20px;
    }

    .text-muted.profile {
        font-size: 0.8rem;
    }

    .rounded-circle.border.responsive-profile {
        height: 100px;
    }

    .list-group.mb-4 {
        font-size: 0.7rem;
        width: 160px;
    }

    .profile.float-right {
        font-size: 0.8rem;
        margin-right: 35px
    }

    .text-muted.profile-order-history {
        margin-left: 10px;
    }

    .small.text-uppercase.profile-order-history {
        font-size: 0.6rem;
    }

    .small.order-history-table {
        font-size: 0.7rem
    }

    .small.text-uppercase.update-order-history {
        font-size: 0.5rem;
    }

    .small.update-order-history {
        font-size: 0.6rem;
    }

    .img-thumbnail {
        width: 20%;
    }

    .card-text {
        font-size: 0.8rem;
    }

    .display-4.font.text-black.error-h2,
    .error-p,
    .error-h4 {
        width: 300px;
    }
}

@media (max-width: 330px) {
    .navbar-toggler {
        font-size: 0.5rem;
        margin-left: 5px;
    }

    .fas.fa-bars.fa-lg {
        padding: .4rem .1rem;
        margin-left: -5px;
        font-size: 20px !important;
    }

    .nav-link .fa-lg {
        font-size: 0.8rem;
        margin-right: -10px;
    }

    .nav-link p {
        font-size: 0.7rem;
        margin-right: -10px;
    }

    .navbar-collapse {
        margin-left: 10px;
    }

    .nav-item a {
        font-size: 0.8rem;
    }

    .hero-container {
        height: 30% !important;
        margin-top: -20px;
    }

    .logo-font {
        font-size: 1.3rem;
        margin-bottom: -30px;
    }

    .shop-now-button h4 {
        font-size: 0.6rem !important;
    }

    .fa-brands.fa-square-facebook.fa-xl {
        font-size: 1rem;
        margin-left: 80px;
    }

    .fa-brands.fa-square-instagram.fa-xl {
        font-size: 1rem;
    }

    .fa-brands.fa-square-x-twitter.fa-xl {
        font-size: 1rem;
        margin-right: 40px;
    }

    .footer-header.subscribe.text-black {
        font-size: 0.8rem;
        text-align: center;
        margin-top: 20px;
    }

    .update-link.text-success {
        font-size: 0.7rem;
        margin-left: 5px;
    }

    .remove-item.text-danger {
        font-size: 0.7rem;
    }

    .total,
    .delivery {
        font-size: 0.7rem;
    }

    .mt-4.grand-total {
        font-size: 0.9rem;
    }

    .mb-1.text-success.free-delivery {
        font-size: 0.6rem;
    }

    .responsive {
        width: 150%;
        margin-left: -20px !important;
    }

    .mt-4.grand-total {
        font-size: 0.9rem;
    }

    .mb-1.text-success.free-delivery {
        font-size: 0.6rem;
    }

    .font.text-uppercase.mb-3.bag-header {
        font-size: 1.6rem;
        margin-top: -20px;
    }

    .small.sensation-footer-text {
        font-size: 0.8rem;
    }

    .btt-button {
        margin-right: -10px;
    }

    .w-100.responsive {
        width: 220% !important;
        margin-left: -2px !important;
    }

    .form-check-label.checkout {
        font-size: 0.8rem;
    }

    .text-muted.checkout {
        font-size: 0.8rem;
    }

    .font.text-uppercase.mb-3.checkout {
        font-size: 1.8rem;
        margin-top: -20px;
    }

    .font.text-uppercase.mb-3.checkout-success-page {
        font-size: 1.2rem;
        margin-top: -20px;
    }

    .text-black.checkout-success-page {
        font-size: 0.9rem;
    }

    .col-12.col-md-8.text-md-right.checkout-success-page {
        font-size: 0.8rem;
    }

    .col-12.profile.mt-4.ml-5.mr-5.mb-2 h2 {
        font-size: 1rem;
        margin-top: -20px;
    }

    .text-muted.profile {
        font-size: 0.8rem;
    }

    .rounded-circle.border.responsive-profile {
        height: 100px;
    }

    .list-group.mb-4 {
        font-size: 0.7rem;
        width: 150px;
    }

    .profile.float-right {
        font-size: 0.8rem;
        margin-right: 25px
    }

    .text-muted.profile-order-history {
        margin-left: 10px;
    }

    .small.text-uppercase.profile-order-history {
        font-size: 0.6rem;
    }

    .text-muted.update {
        font-size: 0.9rem;
    }

    .small.text-uppercase.update-order-history {
        font-size: 0.5rem;
    }

    .small.update-order-history {
        font-size: 0.6rem;
    }

    .img-thumbnail {
        width: 20%;
    }

    .card-text {
        font-size: 0.8rem;
    }

    .display-4.font.text-black.error-h2,
    .error-p,
    .error-h4 {
        width: 300px;
    }
}

@media (max-width: 280px) {
    .fa-brands.fa-square-facebook.fa-xl {
        font-size: 1rem;
        margin-left: 10px;
    }

    .fa-brands.fa-square-instagram.fa-xl {
        font-size: 1rem;
    }

    .fa-brands.fa-square-x-twitter.fa-xl {
        font-size: 1rem;
        margin-right: 10px;
    } 

    .shop-now-button {
        margin-top:-30px;
        margin-left: 10px;
    } 

    .display-3.logo-font.text-white {
        margin-left: 10px;
    }
} 