html {
    height: 100%;
} 

body {  
    color: #000; 
    font-family: 'Livvic', sans-serif;
    height: calc(100vh - 164px);
}  

.hero-container{
    background: url('/media/home-page.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
    height: 90%;
    margin-top: 40px;
} 

.bg-dark{
    background-color: #000 !important;
} 

.logo-font {
    font-family: 'Cinzel Decorative', serif;
    position: relative;
    color: #FFFBC2 !important;
    text-shadow: 4px 2px 1px rgb(6, 6, 6), 0 0 15px rgb(255, 251, 194);
    margin-top: 40px;
    margin-left: 40px;
} 


.font {
    font-family: 'Livvic', sans-serif;
}

.fst-normal{
    font-size: 22px;  
} 

.banner{
    color: #fff;
    margin-top: -5px;
}  

/* navigation */ 
.nav-item a{
    color: #E0B411 !important;
    font-size: 18px; 
} 

.nav-item a:hover{
    color: #FFFBC2 !important; 
} 

.navbar-toggler-icon i{
    color: #E0B411;  
} 

.navbar-toggler-icon i:hover{
    color: #FFFBC2;  
} 

.dropdown-menu a{
    color: #000 !important;
} 

.dropdown-menu a:hover{
    color: #000 !important;
    text-decoration: underline; 
}

input[name='q']::placeholder{
    color: #aab7c4;
} 

.rounded-circle {
    border: 3px solid #E0B411 !important;
}

.profile-image {
    margin-top: 20px; 
} 

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
} 

.my-account, 
.shopping-bag,
.search, 
.blog{
    color: #E0B411;
} 

.my-account:hover,
.shopping-bag:hover,
.search:hover, 
.blog:hover {
    color: #FFFBC2;
}  

/* buttons */
.shop-now-button {
    background: #E0B411;
    color: #000;
    margin-left: 40px;
} 

.btn-warning { 
    background: #E0B411;
    color: #000;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus {
    background: #FFFBC2;
    color: #000;
} 

.border-warning {
    border: 1px solid #000 !important;
}

/* products */
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}  

.shop hr{
    border-top: 2px solid #000 !important;
} 

hr{
    border-top: 1px solid #000 !important; 
}


.medium a{
    color: #E0B411 !important; 
}  

/* ----- back to top link */
.btt-button {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #dbdbd9; 
}  

.btt-link {
    cursor: pointer; 
} 


/* product detail */
.was{
    text-decoration: line-through 1px; 
}  

/* shopping bag */
.update-link,
.remove-item{
    cursor: pointer; 
} 

.update-link:hover,
.remove-item:hover{
    text-decoration: underline !important;
}

.remove-item {
	margin-left: 25px;
} 

input[name='q']::placeholder {
    color: #aab7c4;   
} 

.table-responsive {
	overflow-x:auto;
} 

.responsive {
	width: 100%;
} 

/* toast messages */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
} 

.custom-toast {
    overflow: visible;
} 

.toast-capper {
    height: 4px; 
} 

.bg-success {
    background-color: #A6D16C !important;
} 

.bg-danger {
    background-color: #c10404 !important;
}

.bg-info{
    background-color: #a19e9e !important;
} 


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.arrow-success {
    border-bottom-color: #A6D16C !important;
} 

.arrow-danger {
    border-bottom-color: #c10404 !important;
}

.arrow-alert{
    border-bottom-color: #a19e9e !important;
} 

.bg-warning{
    background-color: #E0B411 !important; 
} 

.shopping-bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
} 

.btn-black{
    background-color: #000 !important;
    color: #E0B411 !important; 
}

/* allauth account */
.sign-in,
.register,
.verify,
.confirm,
.sign-out,
.pasword {
    border-top: 2px solid #000 !important;
} 

.link-register,
.home-link,
.link-login,
.link-email,
.link-reset {
    color: #E0B411 !important;
} 

.allauth-form-inner-content p {
    margin-top: 1.5rem; 
    color: #000; 
} 

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
} 

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #000;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} 

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #E0B411;
    border-color: #222;
} 

.allauth-form-inner-content a {
	color: #E0B411; /* text-forgot pasword */
} 

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
} 

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content{
    height: calc(100vh - 154px); 
} 

/* product form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #c10404;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c10404;
    border-color: #c10404;
    border-radius: 0;
}

/* footer */ 
.text-black {
    color: #000;
} 

.text-black a {
    color: #000;
} 

.footer-header {  
    margin-bottom: -2px;
}

.contact {
    list-style-type: none;
    color: #000 !important;
} 

.social-link-icon {
	font-size: 3vw !important;
} 

/* mailchimp */
#mc_embed_signup {
    background: #fff;
    clear: both;
} 

.mc-field-group{
    font-family: 'Livvic', sans-serif;
} 

.refferal_badge{
    width: 120px;
    height: 30px;
    display: flex;
    padding: 2px 0px;
    justify-content: center;
    align-items: center;
} 

.label{
    color: #000;
} 

#mce-error-response {
    color: #c10404 !important;
} 

/* -------------------------------- Media Queries */
@media (min-width: 1200px) {
    .container {
      max-width: 70%;
    }
  } 

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    } 

    .header-container {
        padding-top: 220px;
    } 

    .logo-font {
        font-size: 4rem !important;
    } 

    .btn.btn-warning.border-warning.rounded-0,
    .btn.btn-warning.rounded-0 {
        padding: .375rem .375rem;
    } 
} 

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) { 
    .header-container {
        padding-top: 164px;
    } 

    body {
        height: calc(100vh - 116px); 
    }

    .nav-link {
        padding: 0.15rem;
    }

    .list-inline-item {
        margin-top: 40px;
        margin-right: 60px !important;
    } 
    
    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }
    
    .nav-link .fa-lg {
        font-size: 1.3rem;
    } 

    .nav-link p {
        font-size: 1.3rem;
    } 

    .navbar-collapse {
        margin-left: 60px;
    } 

    .banner {
        margin-top: 20px;
        font-size: .9rem;
    } 
    
    .input-group {
        width: 90% !important;
        margin-left: 200px !important;
    } 

    .hero-container {
        height: 60% !important; 
    } 

    .logo-font {
        font-size: 50px !important;
    } 

    .shop-now-button {
        margin-bottom: -60px !important;
    } 

    .btn.btn-warning.border-warning.rounded-0,
    .btn.btn-warning.rounded-0 {
        padding: .375rem .375rem;
    } 

    .btn.btn-warning.border-warning.rounded-0.btn-lg,
    .btn.btn-warning.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .85rem; 
    } 

    .btn.btn-warning.border-warning.rounded-0.btn-sm.w-25{
        padding: .375rem .375rem;
    }

	.btn.btn-warning.border-warning.rounded-0.btn-sm.w-25{
        padding: .375rem .375rem;
        font-size: .50rem; 
    } 

	.btn.btn-warning.rounded-0.border-warning {
		padding: .180rem .180rem;
		font-size: .80rem;
	} 

    .table-responsive {
	    overflow-x:auto;
    }

	.remove-item {
		margin-left: 5px
    } 

	.input-group {
		margin-left: 5px !important;
	}

	.order-summary {
		font-size: 15px;
	}

    .responsive {
	    width: 130%;
		margin-left: -50px !important;
    } 

	.footer-container {
		margin-top: 50px !important; 
		width: 130%;
	} 
} 