html {
    height: 100%; 
}

body {
    background: url('/media/4C6A912A-D15A-4BBD-88C8-50D6664D5C76.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;  
    color: #000; 
    font-family: 'Ubuntu', sans-serif; 
}

.bg-dark{
    background-color: #000 !important;
} 

.logo {
    font-family: 'Lobster', sans-serif; 
    color: #E0B411; 
}

.logo-font {
    font-family: 'Lobster', sans-serif; 
}

.font {
    font-family: 'Ubuntu'; 
}

.fst-normal{
    font-size: 22px;  
}

/* navigation */
.nav-item a{
    color: #E0B411 !important; 
} 

.nav-item a:hover{
    color: #e7cd71 !important; 
} 

.navbar-toggler-icon i{
    color: #E0B411;  
} 

.navbar-toggler-icon i:hover{
    color: #e7cd71;  
}

.dropdown-menu a{
    color: #000 !important;
} 

.dropdown-menu a:hover{
    color: #000 !important;
    text-decoration: underline; 
} 

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.my-account, 
.shopping-bag,
.search{
    color: #E0B411;
} 

.my-account:hover,
.shopping-bag:hover,
.search:hover{
    color: #e7cd71;
} 

/* buttons */
.shop-now-button {
    background: #E0B411;
    color: #000;
    min-width: 260px;
    font-weight: 700;
}

.btn-warning { 
    background: #E0B411;
    color: #000;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus {
    background: #e7cd71;
    color: #000;
} 

.border-warning {
    border: 1px solid #000 !important;
}

/* products */
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
} 

.shop hr{
    border-top: 2px solid #000 !important;
}

hr{
    border-top: 1px solid #000 !important; 
}

.includes{
    font-weight: bold; 
}
 
/* -------------------------------- Media Queries */

@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }

} 

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }  
} 

@media (min-width: 950px) {

    .header-container {
        padding-top: 232px;
    }
 
} 