{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h2 class="display-4 font text-black">
                    Page Not Found
                </h2>
                <p>We're sorry, the page you requested could not be found.</p>
                <h4>Return to <a class="text-warning" href="{% url 'products' %}">Shop</a>.</h4>
            </div>
        </div>
    </div>
{% endblock %} 