<div class="collapse navbar-collapse" id="main-nav"> 
    <ul class="navbar-nav w-auto mx-auto">
        <!-- home link -->
        <li class="nav-item">
            <a class="nav-link text-black mr-4 mt-2 text-uppercase" href="{% url 'home' %}" id="him-link"  aria-haspopup="true" aria-expanded="false">
                Home
            </a> 
        </li> 
        <!-- all products menu -->
        <li class="nav-item dropdown">
            <a class="nav-link text-black mr-4 mt-2 text-uppercase" href="#" id="all-items-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop All
            </a>
            <div class="dropdown-menu border border-dark" aria-labelledby="all-items-link">
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">Category</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">Rating</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">Price</a>
                <a href="{% url 'products' %}" class="dropdown-item">Shop All</a> 
            </div> 
        </li>
        <!-- for her products menu -->
        <li class="nav-item dropdown">
            <a class="nav-link text-black mr-4 mt-2 text-uppercase" href="#" id="her-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                For Her
            </a>
            <div class="dropdown-menu border border-dark" aria-labelledby="her-link">
                <a href="{% url 'products' %}?category=perfum_for_her" class="dropdown-item">Eau De Parfum</a>
                <a href="{% url 'products' %}?category=eau_de_toilette_her" class="dropdown-item">Eau De Toilette</a>
                <a href="{% url 'products' %}?category=perfum_for_her,eau_de_toilette_her" class="dropdown-item">All For Her</a>
            </div>
        </li> 
        <!-- for him products menu -->
        <li class="nav-item dropdown">
            <a class="nav-link text-black mr-4 mt-2 text-uppercase" href="#" id="him-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                For Him 
            </a>
            <div class="dropdown-menu border border-dark" aria-labelledby="him-link">
                <a href="{% url 'products' %}?category=perfum_for_him" class="dropdown-item">Eau De Parfum</a>
                <a href="{% url 'products' %}?category=eau_de_toilette_him" class="dropdown-item">Eau De Toilette</a>
                <a href="{% url 'products' %}?category=perfum_for_him,eau_de_toilette_him" class="dropdown-item">All For Him</a>
            </div>
        </li>
        <!-- gift sets menu -->
        <li class="nav-item dropdown">
            <a class="nav-link text-black mr-4 mt-2 text-uppercase" href="#" id="gift_set-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gift Sets
            </a>
            <div class="dropdown-menu border border-dark" aria-labelledby="gift_set-link">
                <a href="{% url 'products' %}?category=gift_set_her" class="dropdown-item">Gift Sets For Her</a>
                <a href="{% url 'products' %}?category=gift_set_him" class="dropdown-item">Gift Sets For Him</a>
                <a href="{% url 'products' %}?category=gift_set_her,gift_set_him" class="dropdown-item">All Gift Sets</a>
            </div>
        </li>
        <!-- sales menu -->
        <li class="nav-item dropdown">
            <a class="nav-link text-black mt-2 text-uppercase mr-4" href="#" id="sales-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sales 
            </a>
            <div class="dropdown-menu border border-dark" aria-labelledby="sales-link">
                <a href="{% url 'products' %}?category=her_sales" class="dropdown-item">For Her</a>
                <a href="{% url 'products' %}?category=gift_set_her_sales" class="dropdown-item">Gift Sets For Her</a>
                <a href="{% url 'products' %}?category=him_sales" class="dropdown-item">For Him</a>
                <a href="{% url 'products' %}?category=gift_set_him_sales" class="dropdown-item">Gift Sets For Him</a>
                <a href="{% url 'products' %}?category=her_sales,gift_set_her_sales,him_sales,gift_set_him_sales" class="dropdown-item">All Sales</a>
            </div> 
        </li>
        <!-- blog link -->
        <li class="nav-item">
            <a class="nav-link text-black mr-4 mt-2 text-uppercase" href="{% url 'blog' %}" id="him-link" aria-haspopup="true" aria-expanded="false">
                Blog
                <span>
                    <i class="fa-sharp fa-solid fa-blog fa-xs"></i>
                </span>
            </a>
        </li>
    </ul>
</div> 