<div class="collapse navbar-collapse" id="main-nav"> 
    <ul class="navbar-nav w-auto mx-auto">
        <!-- home link -->
        <li class="nav-item d-block d-md-none">
            <a class="fst-normal nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home Page 
            </a>
        </li> 
        <!-- all products menu -->
        <li class="nav-item dropdown">
            <a class="fst-normal nav-link text-black mr-5" href="#" id="all-items-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop All
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-items-link">
                <a href="#" class="dropdown-item ">Category</a>
                <a href="#" class="dropdown-item ">Rating</a>
                <a href="#" class="dropdown-item">Shop All</a> 
            </div>
        </li>
        <!-- for her products menu -->
        <li class="nav-item dropdown">
            <a class="fst-normal nav-link text-black mr-5" href="#" id="her-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                For Her
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="her-link">
                <a href="#" class="dropdown-item">Eau De Perfum</a>
                <a href="#" class="dropdown-item">Eau De Toilette</a>
                <a href="#" class="dropdown-item">All For Her</a>
            </div>
        </li>
        <!-- for him products menu -->
        <li class="nav-item dropdown">
            <a class="fst-normal nav-link text-black mr-5" href="#" id="him-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                For Him 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="him-link">
                <a href="#" class="dropdown-item">Eau De Parfum</a>
                <a href="#" class="dropdown-item">Eau De Toilette</a>
                <a href="#" class="dropdown-item">All For Him</a>
            </div>
        </li>
        <!-- gift sets menu -->
        <li class="nav-item dropdown">
            <a class="fst-normal nav-link text-black mr-5" href="#" id="gift_set-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gift Sets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gift_set-link">
                <a href="#" class="dropdown-item">Gift Sets For Her</a>
                <a href="#" class="dropdown-item">Gift Sets For Him</a>
                <a href="#" class="dropdown-item">All Gift Sets</a>
            </div>
        </li>
        <!-- sales menu -->
        <li class="nav-item dropdown">
            <a class="fst-normal nav-link text-black mr-5" href="#" id="sales-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sales 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sales-link">
                <a href="#" class="dropdown-item">For Her</a>
                <a href="#" class="dropdown-item">Gift Sets For Her</a>
                <a href="#" class="dropdown-item">For Him</a>
                <a href="#" class="dropdown-item">Gift Sets For Him</a>
                <a href="#" class="dropdown-item">All Sales</a>
            </div>
        </li>
    </ul>
</div> 