{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <!-- post header -->
        <div class="col text-center mt-4 blog-header">
            <span class="blog-image">
                <!-- post image -->
                <img src="{{ post.featured_image.url }}"  class="img-thumbnail" width="10%"> 
            </span>  
            <h5 class="font text-uppercase mt-2">
                {{ post.title }}
            </h5>  
            <p class="author small">Author : <strong>{{ post.author }}</strong></p>
            <hr class="w-75">  
        </div>
    </div>
    <!-- post body -->
    <div class="blog-container col-8 offset-2 d-inline-block">
        <p class="card-text">
            {{ post.content | safe }}
        </p>        
        <p class="card-text small">
            {{ post.created_on}}
        </p>
        <div class="row">
            <div class="col-8 mb-4">
                <strong>
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like btn btn-outline-light"><i class="fas fa-heart"></i></button>
                        {% else %}
                        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like btn btn-outline-light"><i class="far fa-heart"></i></button>
                        {% endif %}
                    </form>
                    {% else %}
                    <span class="text-secondary"><i class="far fa-heart"></i></span>
                    {% endif %}
                <!-- number of likes -->
                <span class="text-dark">{{ post.number_of_likes }}</span>
                </strong>
                {% with comments.count as total_comments %}
                <span class="text-dark"> 
                    <strong class="text-dark ml-2">
                        <i class="far fa-comments text-secondary"></i> 
                        <!-- total_comments variable goes before the closing strong tag --> 
                        {{ total_comments }} 
                    </strong>
                </span>
                {% endwith %}
            </div> 
        </div>
        <div class="row">
            {% if user and not user.is_authenticated %} 
            <p class="small d-inline ml-2 mt-3"> 
                <a class="home-link" href="{% url 'account_login' %}">
                    <strong>Login</strong>
                </a> or
                <a class="home-link" href="{% url 'account_signup' %}"> 
                    <strong>Register An Account</strong>
                </a> to like post ,or leave an comment!
            </p>
            {% endif %} 
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div> 
    <div class="row"> 
        <div class="col-md-8">
            <h4 class="mb-4">Comments</h4>
            <div class="body">
                <!-- we want a for loop inside the empty control tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments mt-2">
                    <span> 
                        {% if profile.profile_picture %} 
                            <img class="rounded-circle" src="{{ profile.profile_picture.url }}" height="50px" alt="profile_image"> 
                        {% else %}
                            <img class="rounded-circle" src="{% static 'images/profile_image.jpg' %}" height="50px" alt="default_profile_image">
                        {% endif %} 
                    </span> 
                    <p class="font-weight-bold"> 
                        <!-- commenter's name -->
                        {{ comment.name }} 
                        <span class=" text-muted font-weight-normal small ml-2">
                            <!-- comment's created date -->
                            {{ comment.created_on }}
                        </span>
                    </p>
                    <!-- body of the comment goes before the | -->
                    {{ comment.body | linebreaks }} 
                </div> 
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 mb-4 mt-3">
            <div class="comment-body"> 
                {% if user.is_authenticated %} 
                <h5>Leave a comment:</h5>
                <p class="small"><strong><span style="color: #E0B411;">Posting as:</span> {{ user.username }}</strong></p>
                <form method="post" class="mr-2"> 
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning btn-sm border-warning rounded-0 text-uppercase">Submit</button>
                </form>
                {% endif %} 
            </div>   
        </div>     
    </div>
</div>
{% endblock %} 