{% extends "base.html" %}
{% load static %} 


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %} 
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-4 shop">
                <h2 class="font text-uppercase">Contact Us</h2>
                <hr class="w-50 mb-1"> 
            </div>
        </div>
        <!-- contact form -->
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-6">
                <form method="POST" action="" class="form mb-4">
                    {% csrf_token %} 
                    {{ form | crispy }} 
                    <div class="col-12 text-right">
                        <button class="btn btn-warning border-warning rounded-0 btn-lg w-50 text-uppercase" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div> 
{% endblock %} 