{% extends "base.html" %} 
{% load static %}  

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %} 
    <div class="overlay"></div>
    <div class="container"> 
        <div class="row">
            <div class="col-12 col-md-6 mt-4 shop">
                    <h2 class="font text-uppercase">Product Management</h2>     
                    <h5 class="text-warning">Add Product</h5>
                <hr>    
            </div>
        </div>

        <!-- add product form -->
        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'add_product' %}" class="form mb-4" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-right">
                        <!-- go to hompage link -->
                        <p class="small d-inline mr-2">Go to 
                            <a class="home-link" href="{% url 'home' %}">
                              <strong>Home</strong>
                            </a> page.
                        </p>
                        <!-- button cancel -->
                        <a class="btn btn-warning border-warning rounded-0 btn-sm w-25" href="{% url 'add_product' %}">
                            <span class="text-uppercase">Cancel</span>
                        </a> 
                        <!-- button add -->
                        <button class="btn btn-warning border-warning rounded-0 btn-sm w-25">
                            <span class="text-uppercase">Add Product</span>
                        </button>
                    </div>    
                </form>
            </div>
        </div>
    </div> 
{% endblock %} 